/* CSS global */
:root {
  --page-max-width: 720px; /* Largura padrão da página */
}

/* Aplica a todos os elementos da página */
* {
  box-sizing: border-box;
  /* Inclui padding e border no cálculo total de largura e altura */
}

/* Estilização do corpo da página */
body {
  background: #eee;
  color: #222;
  font-family: Arial, sans-serif;
  font-size: 16px; /* Tamanho base padrão recomendado para web */
  margin: 0 auto; /* Remove margem superior/inferior e centraliza horizontalmente quando há largura máxima definida */
  width: 100%; /*Permite que o layout ocupe toda a largura disponível em telas pequenas.*/
  max-width: var(--page-max-width); /* Define a largura usando a variável criada em :root */
  padding: 0 16px; /* Adiciona espaçamento lateral para melhor leitura em telas pequenas*/
}